@import './root.css';
@font-face {
    font-family: "lato";
    src: url("../fonts/Lato-Regular.ttf");
}
/* Don't Touch !!!! Set for variable*/

body {
    font-family: 'lato';
}

.wrap {
    max-width: 1360px;
    width:100%;
    margin: 0 auto;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
}

header {
    background-color:  var(--bleu);
    padding: .5rem;
}
header .wrap{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
header .wrap .logo img{
    width: 50%;
}

header .wrap nav ul{
    display: flex;
}
header .wrap nav ul li{
    padding: 1rem;
}

header .wrap nav ul li .box_header{
    color: var(--jaune);
    border: solid 2px;
    padding: .8rem;
    border-radius: 1.5rem;
}
header .wrap nav ul li a:hover{
    color: var(--jaune);
    transition: .5s;
}

header .wrap nav ul li .box_header:hover{
 background-color: var(--jaune);
    transition: .5s;
    color: white;
}











































































/* footer*/

#footer{
    background-color: black;
padding: .8rem;
}
#footer .wrap6{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.8rem;
    justify-content: space-between;
    align-items: center;
}
#footer span{
    color: white;
    margin-right: 17rem;
}
#footer  nav{
}
#footer nav ul li{
    color: white;

}
#footer nav ul{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: space-between;
}
/*logo*/
#footer .reseau{

}
#footer .reseau ul{
display: flex;
}
#footer .reseau ul li{
    padding-left: 1.5rem;
}
#footer .reseau img{
 width: 20px;


}