@import './root.css';
@font-face {
    font-family: "lato";
    src: url("../fonts/Lato-Regular.ttf");
}
/* Change*/
#formulaire {
    background-image: url(../img/inscription.png);
    background-repeat: no-repeat;
    font-family: 'lato';
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.wrap_account {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 2%;

}
.wrap_account > *{
    width: 49%;
}
.submit_inscription {
    padding: 1rem;
    width: 20%;
    justify-content: center;
}
#formulaire h2 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    color: var(--jaune);
    display: flex;
    border: 2px solid var(--jaune);
    background-color: var(--bleu);
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
input::placeholder {
    color: var(--jaune);

}

.sexe {
    display: flex;

}
.sexe p{
    color: black;
    font-size: 18px;
}
.sexe span{
    margin:1rem;
    margin-left: 2.6rem;

}
#formulaire label {
    color: black;
    font-size: 18px;
}

.ca {
    display: flex;
    justify-content: center;
}
input:hover{
    opacity: .7;
}





/* Don't Touch !!!! Set for variable*/



